.semiCircle{
  width: 200px;
  height: 400px;
  border-bottom-right-radius: 400px;
  border-top-right-radius:400px;
  background-color: #FFA500;
  top: 200px;
  position: fixed;
  padding: 10px;
}

.weatherForecast{
  left: 38%;
  top: 20%;
  position: fixed;
}