@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

.parent{
  width: 1000px;
  height: 800px;
  background-color: #172d44;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  font-family: 'Barlow', sans-serif;
}

.leftPanel{
  width: 600px;
  height: 800px;
  border-radius: 0px 30px 0px 30px;
  background-color: #1c3753;
}

.rightPanel{
  margin-left: 30px;
}